<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> {{$state.current.data.pageTitle}} </h1>
</div>
<div class="wrapper-md" ng-controller="CardController">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Card Details</div>
        <div class="panel-body">
          <form role="form" name="form">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Enter card title" required ng-model="card.card_title">
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Enter card description" required ng-model="card.card_description">
            </div>

            <div class="form-group">
              <label>Value</label>
              <input type="number" class="form-control" placeholder="Enter card value" required ng-model="card.card_value">            </div>

            <div class="form-group">
              <label>Theme Color</label><br>
              <input type="radio" ng-model="card.card_themeColor" value="black"> Dark
              <input type="radio" ng-model="card.card_themeColor" value="white" > Light <br />
            </div>
            <div class="form-group">
              <label>
              <strong>Upload Card</strong></label>
              <input type="file" class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"></div>

            <button type="submit" class="btn btn-success" ng-click="createCard(card, file)" ng-disabled='form.$invalid'> {{admin.ad_id ? 'Create Card' : 'Submit' }} </button>  

            </div>
          </form>
        </div>
      </div>
    </div>

<!-- sample preview for card -->
        <div class="col-sm-8" ng-show="file">
                <div ngf-background="file" style="width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;">
                  <h2 style="color:{{card.card_themeColor}}; padding-top: 125px; padding-left: 60px;">Dear {{demo_teacher_name}},</h2>
                    <h3><p style="color:{{card.card_themeColor}}; padding-top: 10px; padding-left: 60px; padding-right: 80px;">
                    {{demo_message_body}}
                    </p>                    
                    <p style="color:{{card.card_themeColor}}; padding-top: 10px; padding-left: 420px; padding-right: 80px;">Kind Regards<br>
                          {{demo_sender_name}}<br/>
                          {{demo_date | date:"MM/dd/yyyy"}}. 
                    </p></h3>
                      </div>
        </div>
    
  </div>
  
  
</div>