			

			
			<section class="faq faq-1" ng-show="!loading && message && cards">
				<div class="container">
					
					<div class="row">
						<div class="col-sm-12 text-center">
							<h6>Send a Card</h6>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-danger" role="alert" ng-show="message_error">
										  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										  {{message_error}}								  
										</div>
						</div>
					</div>

					

					<div class="row">
						<div class="col-sm-3">
							
							<div class="panel panel-default">
							     <div class="panel-heading">Select Card Design</div>
								  <div class="panel-body">
								    <select class="form-control" ng-model="selected_card" ng-options="card.card_title for card in cards track by card.card_id" ng-change="storeCardChoice(selected_card)">		
								    </select>
								    <div class="alert alert-default" ng-show = "selected_card">
								    	{{selected_card.card_description}}
								    </div>
								    <button class="btn-success btn-lg btn-block" ng-click="submitMessage(message, selected_card)" ng-disabled="submit_clicked" >Send Card Now</button>
								  </div>
						  	</div>
					
						</div>

						<div class="col-sm-9">
							<div class="panel panel-success">
							     <div class="panel-heading">Card Preview</div>
								  <div class="panel-body">
								    <div class="card-view" ng-class="{'black': selected_card.card_themeColor == 'black', 'white': selected_card.card_themeColor == 'white'}" style="background-image: url({{cards_url + selected_card.card_image}}) !important;">
								    	<p><strong>Dear {{message.teacher_name}}</strong>,</p>
								    	<p>{{message.message}}</p>
								    	<p>Sincerely,</p>
								    	<p>
								    		<strong>{{message.sender_name}}</strong><br>
								    		{{message.class}}, {{message.school}}<br>
								    		{{message.city}}, {{message.state}} 
								    	</p>

								    </div>
								  </div>
						  	</div>
						</div>
					
					</div>
				
				</div>
			</section>

			<section ng-show="loading">
				<div class="container">
					
					<div class="row">
						<div class="col-sm-12 text-center text-success">
							Generating your card...
						</div>
					</div>
				</div>

			</section>
			